header {
  align-items: center;
  padding-top: 1.5rem;
    & img  {
      justify-content: center;
      align-content: center;
    }
}

.head {
  padding-top: 2rem;
}

h1 {
  color: var(--content-primary);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem ;
}

.week {
  padding-top: 1rem;
}

#logo-web {
  justify-content: center;
  align-content: center;
}

@media (width >= 80em) {
  
}