header {
  margin-inline: auto;
}

.input-wrapper {
  display: grid;
  align-content: center;
  margin-top: 2.75rem;
}


#add-item {
  padding: 1rem;
  max-width: 100%;
  border-radius: 0.875rem;
  border: 1px solid var(--border-primary);
  margin: 0;

  &:hover {
    border: 1px solid var(--border-hover);
  }

  &:focus {
    border: 1px solid var(--color-brand);
  }
}

#add-item:focus {
  outline: 1px solid var(--color-brand);
}

button {
  padding: 1rem;
  max-width: 100%;
  border-radius: 0.875rem;
  margin-top: 1rem;
  background-color: var(--color-brand);
  color: var(--always-white);
  border: none;
  margin-bottom: 2.5rem;
}

.input-check {
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--always-white);
  align-items: center;
  justify-items: center;
  margin-bottom: .75rem;
  display: flex;
  color: var(--content-secondary);
  line-height: 20px;
  font: medium;


  & span {
    margin-left: auto;
   }
}

label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--content-secondary);
}

input::placeholder {
  color: var(--content-tertiary);
}

@media (width >= 80em) {
  .container {
    padding-inline: 20rem;
  }

  .head > a {
    margin-left: 1rem;
  }

  .header {
    padding-inline: 19rem;
  }

  header {
    text-align: center;
  }
  .input-button {
    display: flex;
  }
  .input-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 0;
  }

  #add-item {
    padding: .875rem;
    width: 70%;
    border-radius: 0.875rem;
    border: 1px solid var(--border-primary);
    margin: 0;

    &:hover {
      border: 1px solid var(--border-hover);
    }

    &:focus {
      border: 1px solid var(--color-brand);
    }
  }

#add-item:focus {
    outline: 1px solid var(--color-brand);
  }
  
  button {
    border-radius: 0.875rem;
    width: 30%;
    margin-top: 2.5rem; 
    background-color: var(--color-brand);
    color: var(--always-white);
    border: none;
  }
}